<nav class="navbar  navbar-light bg-light  fixed-top">
     
    <a class="navbar-brand"><img src="assets\images\icon.png" width="100" height="100"></a>
 
    <button type="button" class="navbar-toggler navbar-toggler-right bg-light" data-toggle="collapse" data-target="#nav">
 
        <span class="navbar-toggler-icon my-toggler"></span>
 
    </button>
 
<div class="collapse navbar-collapse justify-content-between" id="nav">
 
    <ul class="navbar-nav">
 
        <li class="nav-item" >
 
             <a class="nav-link text-dark font-weight-bold px-3" href="#">HOME</a>
 
        </li>
 
        <!-- <li class="nav-item dropdown" data-toggle="dropdown">
 
            <a class="nav-link text-dark font-weight-bold px-3 dropdown-toggle" href="#">PRODUCTS</a>

 
            <div class="dropdown-menu">
          
 
                <a  href="fashion">Fashion</a>
    
                <a  href="#">Electronics</a>
                 <!-- <div class="dropdown-menu"> 
                  <a class="dropdown-item" href="#">Mens Fashion</a>
                  <a class="dropdown-item" href="#">Womens Fashion</a>
                  <a class="dropdown-item" href="#">Kids Fashion</a>
                 </div> 
              </li>  -->
           
 
               
 
                <!-- <a  href="#">Furniture</a>
 
            </div> -->
 
         <!-- </li> -->
       
          <li class="nav-item">
 
            <a class="nav-link text-dark font-weight-bold px-3" href="ap">ADD ITEM</a>
 
        </li>
      <li class="nav-item">
 
        <a class="nav-link text-dark font-weight-bold px-3" href="spay">PAYMENT DETAILS</a>

      </li>
      
      <li class="nav-item">
 
        <a class="nav-link text-dark font-weight-bold px-3" href="">VIEW ITEM</a>

      </li>
    
      <!-- <li class="nav-item">

        <a class="nav-link text-dark font-weight-bold px-3" href="esub">ELECTRONICS</a>
  
      </li>
 
         <li class="nav-item">
 
            <a class="nav-link text-dark font-weight-bold px-3" href="cart">CART</a>
 
        </li> -->
 
        <!-- <li class="nav-item">
 
             <a class="nav-link text-dark font-weight-bold px-3" href="contact">CONTACT</a>
 
          </li> -->
          <li class="nav-item">
 
            <a class="nav-link text-dark font-weight-bold px-3" href="">LOGOUT</a>
 
          </li>
 
 </ul>
</div>
<!-- Search bar -->
<div class="collapse navbar-collapse" id="navbarSupportedContent">

    <form class="form-inline ml-auto">
      <div class="md-form my-0">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
      </div>
      <button href="#!" class="btn btn-light btn-md my-0 ml-sm-2" type="submit">Search</button>
    </form>


 
</div>
</nav>
<div class="bg-img">
<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <!-- <div class="card">
                <div class="card-body"> -->
                    <h5 class="header-title pb-3 mt-0">Payments</h5>
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr class="align-self-center">
                                    <th>Product Name</th>
                                    <th>Client Name</th>
                                    <th>Payment Type</th>
                                    <th>Paid Date</th>
                                    <th>Amount</th>
                                    <th>Transaction</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>JEANS</td>
                                    <td><img  alt="" class="thumb-sm rounded-circle mr-2"> RAVI</td>
                                    <td>Bank Transfer</td>
                                    <td>5/8/2018</td>
                                    <td>Rs 15,000</td>
                                    <td><span class="badge badge-boxed badge-soft-warning">panding</span></td>
                                </tr>
                                <tr>
                                    <td>SHIRTS</td>
                                    <td><img  alt="" class="thumb-sm rounded-circle mr-2"> HONEY</td>
                                    <td>credit card</td>
                                    <td>15/7/2018</td>
                                    <td>Rs 35,000</td>
                                    <td><span class="badge badge-boxed badge-soft-primary">Success</span></td>
                                </tr>
                                <tr>
                                    <td>GOWN</td>
                                    <td><img  alt="" class="thumb-sm rounded-circle mr-2"> REKHA</td>
                                    <td>debit card</td>
                                    <td>30/9/2018</td>
                                    <td>Rs 45,000</td>
                                    <td><span class="badge badge-boxed badge-soft-warning">Panding</span></td>
                                </tr>
                                <!-- <tr>
                                    <td>Website &amp; Blog</td>
                                    <td><img  alt="" class="thumb-sm rounded-circle mr-2"> Phillip Morse</td>
                                    <td>Paypal</td>
                                    <td>2/6/2018</td>
                                    <td>$70,000</td>
                                    <td><span class="badge badge-boxed badge-soft-warning">Success</span></td>
                                </tr>
                                <tr>
                                    <td>Product Devlopment</td>
                                    <td><img  alt="" class="thumb-sm rounded-circle mr-2"> Kevin Heal</td>
                                    <td>Paypal</td>
                                    <td>5/8/2018</td>
                                    <td>$15,000</td>
                                    <td><span class="badge badge-boxed badge-soft-primary">panding</span></td>
                                </tr>
                                <tr>
                                    <td>New Office Building</td>
                                    <td><img  alt="" class="thumb-sm rounded-circle mr-2"> Frank M. Lyons</td>
                                    <td>Paypal</td>
                                    <td>15/7/2018</td>
                                    <td>$35,000</td>
                                    <td><span class="badge badge-boxed badge-soft-primary">Success</span></td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
                    <!--end table-responsive-->
                    <div class="pt-3 border-top text-right"><a href="#" class="text-primary">View all <i class="mdi mdi-arrow-right"></i></a></div>
                </div>
            </div>
        <!-- </div>
    </div> -->
</div></div>