<section class="category">
    <h2><strong>Category</strong></h2>
      <div class="row">
          <div class="col-sm-4" style="width:50rem;">
              <div class="card text-black bg-color:white">
                  <div class="card-body" >
                      <h4 class="item-title">FASHION</h4>
                      <a href="fashion">
                          <img class="item-img-top" src="assets/images/fashion.jpg" alt="item" width="60%" height="90%">
                      </a>
      
                 
                  </div>
              </div>
          </div>
          <div class="col-sm-4" style="width:50rem;">
            <div class="card text-black bg-color:white">
                <div class="card-body" >
                    <h4 class="item-title">FURNITURES</h4>
                    <a href="fsub">
                        <img class="item-img-top" src="assets/images/furn.jpg" alt="item" width="60%" height="90%">
                    </a>
                </div>
            </div>
        </div>
    



        <div class="col-sm-4" style="width:50rem;">
            <div class="card text-black bg-color:white">
                <div class="card-body" >
                    <h4 class="item-title">ELECTRONCS</h4>
                    <a href="esub">
                        <img class="item-img-top" src="assets/images/electronics.jpg" alt="item" width="60%" height="70%">
                        
                    </a>
                </div>
            </div>
        </div>

         
        
    
    </div>

</section>




